<div class="container mx-auto px-8">
  <h2 class="text-4xl font-bold ">スキル一括登録 </h2>
<%= form_with model: @form, url: skill_managements_path, method: :post, id: 'new_skill_management', class: 'new_skill_management', local: true do |form| %>
   <div class="py-4">
    <table class="border border-blue-600 py-2">
    <thead>
     <tr>
        <th class="border border-blue-400"> 登録</th>
        <th class="border border-blue-400"> スキル</th>
        <th class="border border-blue-400"> スキルレベル</th>
     </tr>
    </thead>
  <tbody>
    <%= form.fields_for :skill_managements do |f| %>
      <tr>
        <td class="border border-blue-400 text-center ">
        <%= f.check_box :availability %>
        </td>
        <td class="border border-blue-400">
        <%= f.collection_select :skill_id, Skill.all, :id, :skill, :prompt => "スキルを選択してください" %><br>
        </td>
        <td class="border border-blue-400">
        <%= f.select :skill_level, Skill.skill_levels.keys.map {|k| [k, k]}, {class: 'form-control', required: true } %>
        </td>
        <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>
    </table>

    <%= form.submit "一括登録", class: "mt-4 inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
    <%= link_to "戻る", :back  %>  

<% end %>
  </div>
</div>