<div class="md:flex bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <h3 class="text-2xl text-indigo-500 font-bold text-center">Login to your account</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mt-4">
        <%= f.label :email, class:"text-lg font-semibold" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600", placeholder: "Email" %>
      </div>

      <div class="mt-4">
        <%= f.label :password, class:"text-lg font-semibold" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mt-4">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="md:flex md:justify-around">
        <div class="actions">
          <%= f.submit "Log in", class: "inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
        </div>
    <% end %>

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to image_tag("github.png", class: "w-16 md:border-none border-b"), user_github_omniauth_authorize_path, method: :post %>
      <% end %>
    <% end %><br>
    </div>
    <%= render "users/shared/links" %>
  </div>
</div>