<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
    <h3 class="text-2xl font-bold text-center">Login to your account</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mt-4">
        <%= f.label :email, class: "block" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600", placeholder: "Email" %>
      </div>

      <div class="mt-4">
        <%= f.label :password, class: "block" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mt-4">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="md:flex md:justify-around">
        <div class="actions">
          <%= f.submit "Log in", class: "px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900" %>
        </div>
    <% end %>

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to image_tag("github.png", class: "w-16 md:border-none border-b"), user_github_omniauth_authorize_path, method: :post %>
      <% end %>
    <% end %><br>
    </div>
    <%= render "users/shared/links" %>
  </div>
</div>