<h1>取引会社情報登録</h1>

<hr>
<%= link_to "管理者画面", users_path %><br>
<%= link_to "案件登録", new_project_path %><br><br>

<%= link_to "新規登録", new_client_path %>
<table>
    <tbody>
        <tr>
            <th>取引先一覧</th>
                <td>取引先会社</td>
                <td>担当者</td>
                <td>メールアドレス</td>
                <td>電話番号</td>
        </tr>
        <% @clients.each do |client| %>
            <tr>
                <td><%= client.company_name %></td>
                <td><%= client.staff %></td>
                <td><%= client.email %></td>
                <td><%= client.phone %></td>
                <td><%= link_to "変更", edit_client_path(client.id)%></td>
            </tr>
        <% end %>
    </tbody>
</table>


<hr>
<div>
<%= link_to "Back", :back %>
</div>