<div class="h-screen overflow-hidden flex">
  <div class="container mx-auto p-6 font-mono">
    <!--    <div class="md:flex max-w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">-->
    <div class="container mx-auto px-8">
      <h1  class="text-4xl font-bold pt-2">取引会社情報登録</h1>

      <hr>
      <%= link_to "案件登録", new_project_path, class: "inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
      <%= link_to "新規登録(取引会社情報)", new_client_path, class: "inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3"  %>
      <%= link_to "管理者画面", users_path, class: "inline-block bg-gray-200 hover:bg-gray-300 focus-visible:ring ring-indigo-300 text-gray-500 active:text-gray-700 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-3 py-3 hover:text-white" %>

      <table>
        <tbody>
        <tr>
          <th>取引先一覧</th>
          <td>取引先会社</td>
          <td>担当者</td>
          <td>メールアドレス</td>
          <td>電話番号</td>
        </tr>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.company_name %></td>
            <td><%= client.staff %></td>
            <td><%= client.email %></td>
            <td><%= client.phone %></td>
            <td><%= link_to "変更", edit_client_path(client.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>


      <hr>
      <div>
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>