<h1>エンジニア情報一覧</h1>
<hr>
<%= link_to "管理者トップ画面", admins_managements_path %><br>
<%= link_to "取引先登録", new_client_path %><br><br><br>
<hr>

<table class="">
  <tbody>
    <tr>
      <td>名前</td>
      <td>メールアドレス</td>
      <td>スキル</td>
      <td>スキルレベル</td>
      <td>単価</td>
      <td>単価単位</td>
    </tr>


    <% @users.each do |user| %>
        <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.skills %></td>
        <td><%= user.skill_level %></td>
        <td><%= user.unit_price %></td>
        <td><%= user.unit %></td>
        </tr>
    <% end %>
  </tbody>
</table>