<h1><p>MyPage </h1>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
    <h4> メールアドレス： <%= current_user.email %> </h4>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% end %>

<br>

<li><%= link_to "基本情報", edit_mypages_path %></li>
<li><%= link_to "基本情報SKILL", skill_managements_path %></li>
<li><%= link_to "稼働管理", managements_path %></li>
<hr>
<div>
    <h2>登録情報</h2>
    <div class="profile-view">
    <table>
    <tbody>
        <tr>
        <th>メールアドレス:</th> <td> <%= @user.email %></td>
        </tr>
        <tr>
        <th>氏名:</th>          <td><%= @user.name %></td>
        </tr>        <tr>
        <th>電話番号:</th>       <td><%= @user.phone_number %></td>
        </tr>        <tr>
        <th>スキル:</th> 
            <td> <% @user.skill_managements.each do |skill| %>
                <%= skill.skill.skill %> /
                     <%= skill.skill_level %>　　
               <% end %></td>
        </tr>        
        
        <tr>
        <th>Githubアカウント:</th> <td><%=link_to @user.github_url , @user.github_url, target: :_blank %></td>
        </tr>        <tr>
        <th>口座情報:</th>       <td><%= @user.account_info %></td>
        </tr>
        </tr>        
        <tr>
        <th>単価:</th>          <td><%= @user.unit_price %></td>
        </tr>
        </tr>        
        <tr>
        <th>単価単位:</th>       <td><%= @user.unit %></td>
        </tr>     

        </table>
        </tbody>

    </div>

