<!DOCTYPE html>
<html>
<head>
  <title>Sample003</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <p class="text-indigo-500"><%= notice %></p>
  <p class="text-red-500"><%= alert %></p>
  <div class="h-screen overflow-hidden flex overflow-visible">

  <%= yield %>
</div>
</body>

</html>
