<div class="h-screen overflow-hidden flex">
  <div class="container mx-auto px-8">
    <h1 class="md:text-lg xl:text-xl font-semibold text-indigo-500"><p>稼働状況編集</h1>
    <div class="md:flex mt-4 space-x-2">
      <%= link_to "稼働画面一覧に戻る", management_path(current_user.id), class: "inline-block bg-gray-200 hover:bg-gray-300 focus-visible:ring ring-indigo-300 text-gray-500 active:text-gray-700 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-3 py-3 hover:text-white" %>
      <%= link_to "基本情報管理画面に戻る", mypage_path(current_user.id), class: "inline-block bg-gray-200 hover:bg-gray-300 focus-visible:ring ring-indigo-300 text-gray-500 active:text-gray-700 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-3 py-3 hover:text-white" %>
    </div>
      <%= form_with model: @management, url: management_path, id: 'management', class: 'management', local: true do |f| %>
        <div class="field">
          <%= f.label :date %><br/>
          <%= f.text_field :date, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :uptime %><br/>
          <%= f.text_field :uptime, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :unit %><br/>
          <%= f.select :unit, User.units.keys.map { |k| [k, k] }, { class: 'form-control', required: true } %>
        </div>

        <div class="actions">
          <%= f.submit "更新", data: { confirm: '上記の内容で投稿を更新します。よろしいですか？' } %>
        </div>
      <% end %>

      <%= link_to "Back", :back %>

