<h1>エンジニア稼働管理画面　一覧</h1>
<%= link_to "マイページ", mypages_path %>

<hr>
<table class="">
<tbody>

<tr>
  <td>稼働月</td>
  <td>稼働時間</td>s
  <td>単価</td>
  <td>単位</td>
  <td>アクション</tg>
</tr>

<% @management.each do |m| %>
    <tr>
    <td><%= m.date %></td>
    <td><%= m.uptime %></td>
    <td><%= m.unit_cost %></td>
    <td><%= m.unit %></td>
    <td><%= link_to "変更", edit_management_path(m.id)%></td>
    </tr>

<% end %>
</tbody>
</table>

<hr>
<div>
<%= link_to "Back", :back %>
</div>