<h1>エンジニア稼働管理画面　一覧</h1>
<%= link_to "マイページ", mypages_path %>
<%= link_to "稼働登録", new_management_path %>

<hr>
<table class="">
<thead>
<tr>
  <th>稼働月</th>
  <th>稼働時間</th>
  <th>単価</th>
  <th>単位</th>
</tr>
</thead>
<tbody>
<% @management.each do |m| %>
    <tr>
    <td><%= m.date %></td>
    <td><%= m.uptime %></td>
    <td><%= m.unit_cost %></td>
    <td><%= m.unit %></td>
    <td><%= link_to "稼働修正", edit_management_path(m.id)%></td>
    </tr>

<% end %>
</tbody>
</table>

<hr>
<div>
<%= link_to "Back", :back %>
</div>