<h1>エンジニア稼働管理画面　一覧</h1>
<%= link_to "マイページ", mypage_path(current_user.id) %>

<hr>
<%= link_to "新規登録", new_management_path %>
<table class="">
<tbody>

<tr>
  <td>稼働月</td>
  <td>稼働時間</td>
  <td>単価</td>
  <td>単位</td>
  <td>アクション</td>
</tr>

<% @user_management.each do |m| %>
    <tr>
    <td><%= m.date %></td>
    <td><%= m.uptime %></td>

    <% if m.user.wage.present? %> 
    <td><%= m.user.wage.unit_price %></td>
    <td><%= m.user.wage.unit %></td>
    <% else %>
    <td> 設定されていません </td>
    <td> 設定されていません </td>
    <% end %>
    <td><%= link_to "変更", edit_management_path(m.id)%></td>
    </tr>

<% end %>
</tbody>
</table>

<hr>
<div>
<%= link_to "Back", :back %>
</div>