<div class="container mx-auto px-8">
  <h1 class="text-4xl font-bold pt-2">稼働管理画面　一覧</h1>

  <div class="py-4">
    <%= link_to "稼働新規登録", new_management_path, class: "mt-2 inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
    <%= link_to "基本情報管理画面に戻る", mypage_path(current_user.id), class: "inline-block bg-gray-200 hover:bg-gray-300 focus-visible:ring ring-indigo-300 text-gray-500 active:text-gray-700 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-3 py-3 hover:text-white" %>

    <table class="mt-4 table-auto w-full">
      <tbody>

      <tr class="bg-indigo-500  bg-opacity-20">
        <th class="p-2 whitespace-nowrap">稼働月</th>
        <th class="p-2 whitespace-nowrap">稼働時間</th>
        <th class="p-2 whitespace-nowrap">単価</th>
        <th class="p-2 whitespace-nowrap">単位</th>
        <th class="p-2 whitespace-nowrap">スターテス</th>
      </tr>

      <% @user_management.each do |m| %>
        <tr>
          <td class="border border-indigo-500"><%= m.date.strftime("%Y年%m月") %></td>
          <td class="border border-indigo-500"><%= m.uptime %></td>

          <% if m.user.wage.present? %>
            <td class="border border-indigo-500"><%= number_to_currency(m.user.wage.unit_price, unit: "¥", format: "%u %n", precision: 0) %></td>

            <td class="border border-indigo-500"><%= m.user.wage.unit %></td>
          <% else %>
            <td class="border border-indigo-500"> 設定されていません</td>
            <td class="border border-indigo-500"> 設定されていません</td>
          <% end %>
          <td class="border border-indigo-500">
            <% case m.management_state %>
            <% when 'request' %>
              <%= link_to "修正", edit_management_path(m.id), class: "mt-2 inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %></td>
            <% else %>
              <p class="inline-block bg-gray-200  ring-indigo-300 text-gray-500  font-semibold text-center rounded-lg outline-none transition duration-100 px-3 py-3">承認済のため変更出来ません</p>
            <% end %>
            </tr>

      <% end %>
      </tbody>
    </table>
  </div>

  <div>
    <%= link_to "Back", :back, class: "mt-4" %>
  </div>
</div>